body { 
  font-family: Arial, sans-serif; 
  margin: 0; padding: 0; 
  background-color: #f2f2f2;
}
header { 
  background-color: #ffe600; 
  padding: 20px; 
  text-align: center; 
}
nav a { 
  margin: 0 10px; 
  text-decoration: none; 
  color: #333; 
  font-weight: bold; 
}
.produto { 
  border: 1px solid #ccc; 
  padding: 10px; 
  width: 220px; 
  background:white; 
  text-align: center; 
  margin:10px; 
}
.container { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}
footer { 
  background-color: #ddd; 
  padding: 10px; 
  text-align: center; 
}
.carrinho { 
  position: fixed; 
  top: 10px; 
  right: 10px; 
  background: white; 
  border: 1px solid #333; 
  padding: 10px; 
}
.login, .cadastro { 
  margin: 20px; 
  background:white; 
  padding:20px; 
  border:1px solid #ccc;
}